/* auth  */
.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* isLoggedIn */

.isLoggedInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
.goodsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;
}
